// ------------ Banner images ------------
.banner-image {
  background-color: $fourth-background;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
  // Horizontal value
  background-position-x: 85%;
  background-blend-mode: luminosity;
  @include shadow-elevation-high;
}

.banner-image-index {
  @extend .banner-image;
  background-image: url(../../images/header-image-landscape.jpg);
  height: 70vh;
  // Vertical value
  background-position-y: 30%;
}

.banner-image-explore {
  @extend .banner-image;
  background-image: url(../../images/bergen-winter-landscape.jpg);
  height: 50vh;
  // Vertical value
  background-position-y: 40%;
}

.banner-image-specific {
  @extend .banner-image;
  background-image: url(../../images/bergen-havn-landscape.jpg);
  height: 50vh;
  // Vertical value
  background-position-y: 100%;

  @media (min-width: 992px) {
    background-position-y: 70%;
  }
}

// ------------ Banners position ------------
.banner-heading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;

  & h1,
  h2 {
    padding: 17px;
    margin: 0px;
  }

  & h1 {
    background-color: $accent;
    color: $main-background;
  }

  & h2 {
    background-color: $main-background;
    color: $text-color;
  }

  @media (min-width: 992px) {
    left: 50%;
    top: 50%;
    // Half the width of element
    margin-left: -325px;
    // Half the height of element
    margin-top: -84.15px;

    & h1,
    h2 {
      width: 500px;
      padding: 20px;
    }

    & h2 {
      margin-left: 150px;
    }
  }
}
