// ------------ Popular cards ------------
.popular-card {
  width: 350px;
  margin: 25px auto;
  text-align: center;
  border-radius: 20px;
  background-color: $main-background;
  transition: 0.3s;
  @include shadow-elevation-medium;

  &:hover {
    border-radius: 20px;
    @include shadow-elevation-high;
    transition: 0.3s;
  }

  & h3 {
    margin-bottom: 10px;
  }

  & > * {
    justify-content: center;
  }

  &-img img {
    width: 100%;
    height: 420px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 15px;

    @media (min-width: 1044px) and (max-width: 2000px) {
      height: auto;
    }
  }

  &-feature,
  &-footer {
    display: flex;
  }

  &-details > * {
    margin: 20px 0px;
  }

  &-feature > * {
    background-color: $fourth-background;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin: 0px 10px;
    color: $main-background;
  }

  &-rating > * {
    font-size: 1.7rem;
    margin: 20px 10px;
  }

  &-footer {
    justify-content: space-around;
    align-items: baseline;

    & p {
      font-size: 1.5rem;
    }
  }
}

// ------------ Explore cards ------------
#accommodations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  // Every second explore card component has a background avoiding container width
  & > div:nth-child(even) {
    background-color: $secondary-background;
    box-shadow: 0 0 0 100vmax $secondary-background;
    clip-path: inset(0 -100vmax);
  }
}

.card-container {
  margin-bottom: 40px;
}

.explore-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 10px;
  margin: 0px auto;

  &-img > img {
    width: 100%;
    border-radius: 5px;
  }

  &-details {
    & > * {
      margin: 20px 0px;
    }

    @media (min-width: 1044px) {
      margin-left: 40px;
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: baseline;

    &-ratings > * {
      font-size: 1.3rem;
      margin: 0px 5px;
    }

    @media (min-width: 1044px) {
      flex-direction: column;

      & h3 {
        text-align: left;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: 1044px) {
      & p {
        font-size: 1.5rem;
      }
    }
  }

  @media (min-width: 768px) {
    width: 550px;
    padding: 30px;
  }

  @media (min-width: 1044px) {
    flex-direction: row;
    width: inherit;
    padding: 80px;

    &-img > img {
      width: 350px;
      border-radius: 5px;
    }
  }
}
