// ------------ Accommodation details section ------------
#accommodation-base {
  margin-bottom: 45px;
  width: 100%;
}

.acco-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ------------ Accommodation base ------------
.detail-name-rating {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;

  & > * {
    margin: 0px 20px;
  }

  & > div > i {
    font-size: 1.7rem;
    margin: 0px 5px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0px;
  }
}

.detail-text {
  max-width: 800px;

  &-address {
    font-style: italic;
  }
}

.detail-image-box {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  & > * > img {
    width: 350px;
    object-fit: contain;
    background-color: $secondary-background;
    padding: 10px;
    height: 100%;

    @media (min-width: 768px) {
      width: 500px;
    }
  }

  &--dark {
    background-color: $secondary-background;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      margin: 0px auto;
    }

    & p {
      font-size: 2rem;
      color: $text-color;
      text-align: center;
      @media (min-width: 992px) {
        font-size: 3rem;
      }

      &:nth-child(2) {
        font-size: 3rem;
        margin: 20px 0px;

        @media (min-width: 768px) {
          font-size: 5rem;
        }
      }
    }
  }
}

.details-feature {
  justify-content: center;
  width: 100px;
  text-align: center;
  white-space: nowrap;
  & > * {
    margin-top: 50px;
  }

  @media (min-width: 992px) {
    width: 300px;
  }
}

// ------------ Accommodation description ------------
.acco-description {
  line-height: 1.8;
  max-width: 1000px;
  margin: 60px auto;
}

// ------------ Accommodation images ------------
.acco-images {
  flex: 1;

  @media (min-width: 1400px) {
    padding: 50px 250px;
  }

  &-active img,
  &-thumbnail img {
    width: 100%;
  }

  &-thumbnail {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
  }
}

// ------------ Accommodation messages ------------
#accommodation-feedback {
  padding: 40px;
  margin-top: 100px;
}
