// ------------ Universal form styles ------------
.input-error {
  border: 1.5px solid $accent;
  background-color: $error-color;
  margin-bottom: 0px;
}

input,
textarea {
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 25px;
  width: 300px;
  border: 1.5px solid $third-background;
  transition: 0.2s;

  &:hover {
    padding: 10px 16px;
    transition: 0.2s;
  }
}

textarea {
  height: 191px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// ------------ Contact form styles ------------
.contact-form {
  & > * {
    margin: 0px 20px;
  }

  &-inputs,
  &-textarea {
    & span {
      color: $main-background;
      margin-bottom: 15px;
    }
  }

  &-inputs {
    display: flex;
    flex-direction: column;
  }

  &-textarea {
    display: flex;
    flex-direction: column;
  }

  &-button {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
}

.contact-form-inputs--icon {
  display: flex;
  flex-direction: column;
  position: relative;
}

// ------------ Form icons ------------
.form-icons {
  font-size: 1.4rem;
  color: $accent;
  position: absolute;
  bottom: 38px;
  right: 0px;
  margin: auto 20px;
}
