// ------------ Global styles ------------
#root {
  //Style for sticking footer to bottom of the page
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,
body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  //Style for sticking footer to bottom of the page
  height: 100%;
}

// ------------ Wrappers ------------
.wrapper {
  // style for sticking footer to the bottom
  flex: 1 0 auto;
}

#accommodations,
#accommodation-details,
#admin-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  // Every second explore card component has a background avoiding container width
  & > div:nth-child(even),
  > section:nth-child(even) {
    background-color: $secondary-background;
    box-shadow: 0 0 0 100vmax $secondary-background;
    clip-path: inset(0 -100vmax);
  }
}

// ------------ Headings ------------
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-bottom: 30px;
  color: $text-color;
}

// ------------ Paragraphs ------------
p {
  color: $text-color;
}

// ------------ Call to actions ------------
.cta {
  padding: 8px 16px;
  background-color: $accent;
  border: 2px solid $accent;
  border-radius: 5px;
  color: $main-background;
  margin-top: 15px;
  font-size: 1.2rem;
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  transition: 0.3s;
  @include shadow-elevation-low;
  display: flex;

  &:hover {
    background-color: $main-background;
    border: 2px solid $accent;
    color: $accent;
    padding: 8px 20px;
    transition: 0.3s;
    @include shadow-elevation-medium;

    & > .cta-arrow {
      animation: jiggle 0.5s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes jiggle {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(10px);
    }
  }

  & > .cta-arrow {
    margin-left: 10px;
  }
}

.cta-alt {
  @extend .cta;
  padding: 12px 35px;
  background-color: $main-background;
  color: $accent;
  @include shadow-elevation-medium-cta;
  display: inline-block;

  &:hover {
    background-color: $accent;
    padding: 12px 39px;
    color: $main-background;
    @include shadow-elevation-high-cta;
  }
}

// Cancel out focus styles from bootstrap
.btn:focus {
  color: $main-background !important;
  background-color: $accent !important;
  border-color: $accent !important;
  box-shadow: inherit !important;
  outline: inherit !important;
}

// ------------ Inputs ------------
// Removes the X icon on inputs
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea:focus,
input:focus {
  outline: none;
}

// ------------ Tables ------------
table {
  width: 100%;
  margin: 0px auto;
  border-spacing: 30px;
  border-collapse: collapse;

  & th {
    font-size: 1.6rem;
    font-weight: 500;
  }

  @media (min-width: 992px) {
    border-collapse: inherit;
  }
}

// ------------ Icons ------------
.star-colored {
  color: $accent;
}

// ------------ Spinner ------------
.spinner-border {
  color: $accent;
  padding: 30px;
  margin: 0px auto;
}

// Alerts
.alert-danger {
  margin: 0px auto;
}

// ------------ Breadcrumbs ------------
.breadcrumb {
  align-items: center;
  margin-left: 100px;
  & a {
    color: $text-color;
  }

  & > * {
    margin: 0px 7px;
  }

  &-active {
    font-size: 1.2rem;
  }
}

// ------------ Footer ------------
footer {
  //Style for sticking footer to bottom of the page
  flex-shrink: 0;
  background-color: $third-background;
  padding: 50px;
  margin-top: 100px;

  & > h4 {
    color: $main-background;
  }
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fourth-background;
  padding: 20px 0px;
  color: $main-background;

  & > h5 {
    color: $main-background;
    margin: auto;
    font-size: 1.15rem;
  }
}
