// ------------ Index ------------
#popular-visits,
#feedback-messages,
#carousel {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  & > h2,
  h3,
  q {
    flex-basis: 100%;
  }
}

// ------------ Popular section ------------
.explore-more {
  text-align: center;
  margin-bottom: 100px;
}

// ------------ Feedback section ------------
#feedback-messages {
  background-color: $secondary-background;
  padding: 60px 0px;
}

.feedback-position {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 1400px) {
    flex-direction: row;
    gap: 100px;
  }
}

.feedback {
  display: flex;

  &-box {
    margin: 20px auto;
  }

  &-box-user {
    width: 150px;
    height: 150px;
    background-color: $main-background;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;

    & > .fa-user {
      font-size: 4rem;
      position: absolute;
      bottom: 45px;
      left: 50px;
      color: $text-color;
    }

    @media (min-width: 992px) {
      width: 200px;
      height: 200px;

      & > .fa-user {
        font-size: 6rem;
        position: absolute;
        bottom: 55px;
        left: 60px;
        color: $text-color;
      }
    }
  }

  &-box-info {
    max-width: 300px;

    @media (min-width: 576px) {
      max-width: 500px;
    }
  }

  &-user-location {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 40px;

    & span {
      font-size: 1.6rem;
      color: $accent;
    }
  }
}

// ------------ Carousel section ------------
.carousel-container {
  position: relative;
  & > div {
    text-align: center;
    margin-bottom: 20px;
  }

  & q {
    font-size: 1.5rem;
    color: $text-color;
    opacity: 0.8;
  }

  @media (min-width: 1200px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #ff385c;
      width: 94%;
      height: 88%;
      padding: 40px;
      bottom: 0;
      left: 81px;
      z-index: -1;
    }
  }
  @media (min-width: 1400px) {
    &::after {
      left: 100px;
    }
  }
}

.carousel {
  @media (max-width: 1200px) {
    border: 2.5px solid $accent;
  }

  &-control-prev > span,
  &-control-next > span {
    background-color: $text-color;
  }
}
