// ------------ Index ------------
#popular-visits,
#feedback-messages,
#carousel {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

  & > h2,
  h3,
  q {
    flex-basis: 100%;
  }
}

// ------------ Popular section ------------
.explore-more {
  text-align: center;
  margin-bottom: 100px;
}

// ------------ Feedback section ------------
#feedback-messages {
  background-color: $secondary-background;
  padding: 60px 0px;
}

.feedback-position {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 1400px) {
    flex-direction: row;
    gap: 100px;
  }
}

.feedback {
  display: flex;

  &-box {
    margin: 20px auto;
  }

  &-box-info {
    max-width: 300px;

    @media (min-width: 576px) {
      max-width: 500px;
    }
  }

  &-user-location {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 40px;

    & span {
      font-size: 1.6rem;
      color: $accent;
    }
  }
}

#message-user-picture {
  display: flex;
}

// ------------ Carousel section ------------
.carousel-container {
  position: relative;
  & > div {
    text-align: center;
    margin-bottom: 20px;
  }

  & q {
    font-size: 1.5rem;
    color: $text-color;
    opacity: 0.8;
  }

  @media (min-width: 1200px) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #ff385c;
      width: 93%;
      height: 79%;
      padding: 40px;
      bottom: 5px;
      left: 81px;
      z-index: -1;
    }
  }
  @media (min-width: 1400px) {
    &::after {
      left: 100px;
      bottom: 0;
    }
  }
}

.carousel {
  @media (max-width: 1200px) {
    border: 2.5px solid $accent;
  }

  &-control-prev > span,
  &-control-next > span {
    background-color: $text-color;
  }
}

.quote-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    margin-bottom: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  @media (min-width: 1044px) {
    display: block;
  }
}
