.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include shadow-elevation-medium;
  padding: 100px;
  transition: 0.3s;

  &:hover {
    @include shadow-elevation-high;
    transition: 0.3s;
  }
}
