.navbar {
  max-width: 1600px;
  margin: 0px auto;
  padding: 20px;

  &-collapse {
    align-items: baseline;
  }
}

// ------------ Brand ------------
.brand {
  display: flex;
  align-items: center;

  & > img {
    width: 50%;
    height: 50%;

    @media (min-width: 1154px) {
      width: 25%;
      height: 25%;
    }
  }

  & > * {
    margin: 0px 10px;
  }

  &-texts {
    display: none;
    line-height: 23px;
    @media (min-width: 1154px) {
      display: block;
    }
  }

  &-name {
    color: $accent;
    font-size: 1.8rem;
  }

  &-slogan {
    color: $text-color;
    font-size: 1rem;
    margin-left: 2px;
  }

  &:hover {
    color: inherit;
  }
}

// ------------ Links ------------
a {
  text-decoration: none;
}

.nav-link {
  color: #484848 !important;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    color: $accent !important;
    filter: brightness(85%);
  }

  @media (min-width: 1200px) {
    font-size: 1.2rem;
    margin: 0px 10px;
  }
}

.active {
  color: #ff385c !important;
}

// ------------ Nav search bar ------------
.search-bar {
  position: relative;
  margin: 20px auto 0px auto;

  &-input {
    padding: 10px 20px;
    width: 100%;
    border: 1.5px solid $fourth-background;
    @include shadow-elevation-medium;
    transition: padding 0.5s, box-shadow 0.5s;

    @media (min-width: 992px) and (max-width: 1044px) {
      width: 300px;
    }

    @media (min-width: 1400px) {
      width: 400px;
    }

    &:hover {
      @include shadow-elevation-high;
      padding: 10px 27px;
      transition: 0.5s;
    }
  }
}

.fa-magnifying-glass {
  font-size: 1.5rem;
  color: $accent;
  position: absolute;
  right: 20px;
  top: 12px;
}

// ------------ Nav search bar typeahead ------------
.search-bar-input {
  position: relative;

  &:focus {
    border-radius: 7px 7px 0px 0px;
  }
}

.searchbar-typeahead {
  position: absolute;
  z-index: 1000;
  background-color: $main-background;
  width: 100%;
  top: 46px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 7px 7px;
  max-height: 400px;
  overflow: overlay;
  border-left: 1px solid $fourth-background;
  border-bottom: 1px solid $fourth-background;
  border-right: 1px solid $fourth-background;

  & a {
    color: $text-color;
    font-size: 1.5rem;
    padding: 20px;
    transition: 0.3s;

    & span {
      color: $accent;
    }

    &::after {
      content: "";
      width: 100%;
      margin: 0px auto;
      border: 1px solid $secondary-background;
      display: flex;
      flex-direction: column;
    }

    &:hover {
      color: $accent;
      /* transform: translateX(1%); */
      margin-left: 10px;
      transition: 0.3s;
    }
  }
}

// ------------ Nav icons ------------
.nav-icons {
  @media (min-width: 992px) {
    align-items: baseline;
  }

  & i {
    font-size: 1.7rem;
  }
}

// ------------ Hamburger menu icon ------------
.navbar-toggler {
  border: none;

  &:focus {
    box-shadow: none;
  }
}

.hamburger-menu {
  font-size: 2rem;
  color: red;
  padding: 20px;
  border: none;
}
